In [1]:
import pandas as pd
file='ai.xlsx'
xl=pd.ExcelFile(file)
print(xl.sheet_names)

['Sheet1']

In [2]:
df1=xl.parse('Sheet1')
df1.iloc[1]
df1.drop(['Variable'],axis=1)

         P_ID                          DESCRTIPTION          DOA    YEAR
0         NaN                                   NaN          NaN     NaN
1    83-33-67                               Cholera  08-Dec-2018  2018.0
2    44-71-95                               Cholera  27-Sep-2014  2014.0
3    59-15-01                               Cholera    22-Aug-15  2015.0
4    50-77-76                               Cholera    12-Apr-14  2014.0
5    50-79-74                               Cholera  13-Apr-2014  2014.0
6    50-81-63                               Cholera  14-Apr-2014  2014.0
7    53-81-49                               Cholera  20-Oct-2014  2014.0
8    58-05-07                               Cholera  22-Jun-2015  2015.0
9    52-07-45                               Cholera  19-Jul-2015  2015.0
10   63-80-93                               Cholera  12-Apr-2016  2016.0
11   62-06-21                               Cholera    18-Jan-16  2016.0
12   64-08-96                               Cholera  25-Apr-2016  2016.0
13   63-77-89                               Cholera  10-Apr-2016  2016.0
14   63-95-06                               Cholera  19-Apr-2016  2016.0
15   65-07-12                               Cholera  13-Jun-2016  2016.0
16   61-58-72                               Cholera  18-Apr-2016  2016.0
17   29-39-00                               Cholera  06-Aug-2016  2016.0
18   74-43-99                               Cholera  14-Sep-2017  2017.0
19   73-13-66                               Cholera    12-Oct-17  2017.0
20   71-39-38                               Cholera  19-Apr-2017  2017.0
21   71-57-06                               Cholera  27-Apr-2017  2017.0
22   73-00-77                               Cholera    10-Jul-17  2017.0
23   68-12-94                               Cholera  03-Aug-2017  2017.0
24   78-43-52                               Cholera    12-Jul-18  2018.0
25   80-37-20                               Cholera  13-Jul-2018  2018.0
26   81-83-13                               Cholera  29-Sep-2018  2018.0
27   57-21-70                               Cholera  09-May-2015  2015.0
28   52-45-61                               Cholera  29-Apr-2015  2015.0
29   13-99-59                               Cholera  20-May-2015  2015.0
..        ...                                   ...          ...     ...
369  60-42-09  Streptococcus,Group D [Enterococcus]  07-Jan-2016  2016.0
370  64-94-05  Streptococcus,Group D [Enterococcus]  11-Jun-2016  2016.0
371  65-06-52  Streptococcus,Group D [Enterococcus]    01-Aug-16  2016.0
372  66-24-70  Streptococcus,Group D [Enterococcus]  25-Oct-2016  2016.0
373  71-13-81  Streptococcus,Group D [Enterococcus]  16-Apr-2017  2017.0
374  60-48-72  Streptococcus,Group D [Enterococcus]  12-Apr-2018  2018.0
375  51-72-90  Streptococcus,Group D [Enterococcus]  16-Jun-2014  2014.0
376  43-08-66  Streptococcus,Group D [Enterococcus]  12-Jul-2017  2017.0
377  55-54-77  Streptococcus,Group D [Enterococcus]    06-Feb-15  2015.0
378  59-55-74  Streptococcus,Group D [Enterococcus]    13-Sep-15  2015.0
379  60-72-37  Streptococcus,Group D [Enterococcus]  15-Nov-2015  2015.0
380  59-51-25  Streptococcus,Group D [Enterococcus]    10-Sep-15  2015.0
381  61-10-84  Streptococcus,Group D [Enterococcus]  07-Dec-2015  2015.0
382  61-66-48  Streptococcus,Group D [Enterococcus]    05-Jan-16  2016.0
383  73-85-96  Streptococcus,Group D [Enterococcus]  06-Sep-2017  2017.0
384  53-88-07  Streptococcus,Group D [Enterococcus]  23-Oct-2014  2014.0
385  54-55-38  Streptococcus,Group D [Enterococcus]    17-Dec-14  2014.0
386  53-44-66  Streptococcus,Group D [Enterococcus]    24-Sep-14  2014.0
387  51-24-41  Streptococcus,Group D [Enterococcus]  21-Jan-2015  2015.0
388  56-54-41  Streptococcus,Group D [Enterococcus]  12-Apr-2015  2015.0
389  59-12-84  Streptococcus,Group D [Enterococcus]    27-Aug-15  2015.0
390  63-05-78  Streptococcus,Group D [Enterococcus]    07-Mar-16  2016.0
391  69-37-61  Streptococcus,Group D [Enterococcus]  11-Jan-2017  2017.0
392  70-20-04  Streptococcus,Group D [Enterococcus]    28-Mar-17  2017.0
393  50-32-77  Streptococcus,Group D [Enterococcus]    26-Apr-14  2014.0
394  52-79-86  Streptococcus,Group D [Enterococcus]  17-Aug-2014  2014.0
395  64-22-01  Streptococcus,Group D [Enterococcus]    02-May-16  2016.0
396  59-49-58  Streptococcus,Group D [Enterococcus]  11-Sep-2015  2015.0
397  59-80-92  Streptococcus,Group D [Enterococcus]    28-Sep-15  2015.0
398  69-74-10  Streptococcus,Group D [Enterococcus]  31-Jan-2017  2017.0

[399 rows x 4 columns]

In [3]:
print(df1)

    Variable      P_ID                          DESCRTIPTION          DOA  \
0      Label       NaN                                   NaN          NaN
1        NaN  83-33-67                               Cholera  08-Dec-2018
2        NaN  44-71-95                               Cholera  27-Sep-2014
3        NaN  59-15-01                               Cholera    22-Aug-15
4        NaN  50-77-76                               Cholera    12-Apr-14
5        NaN  50-79-74                               Cholera  13-Apr-2014
6        NaN  50-81-63                               Cholera  14-Apr-2014
7        NaN  53-81-49                               Cholera  20-Oct-2014
8        NaN  58-05-07                               Cholera  22-Jun-2015
9        NaN  52-07-45                               Cholera  19-Jul-2015
10       NaN  63-80-93                               Cholera  12-Apr-2016
11       NaN  62-06-21                               Cholera    18-Jan-16
12       NaN  64-08-96                               Cholera  25-Apr-2016
13       NaN  63-77-89                               Cholera  10-Apr-2016
14       NaN  63-95-06                               Cholera  19-Apr-2016
15       NaN  65-07-12                               Cholera  13-Jun-2016
16       NaN  61-58-72                               Cholera  18-Apr-2016
17       NaN  29-39-00                               Cholera  06-Aug-2016
18       NaN  74-43-99                               Cholera  14-Sep-2017
19       NaN  73-13-66                               Cholera    12-Oct-17
20       NaN  71-39-38                               Cholera  19-Apr-2017
21       NaN  71-57-06                               Cholera  27-Apr-2017
22       NaN  73-00-77                               Cholera    10-Jul-17
23       NaN  68-12-94                               Cholera  03-Aug-2017
24       NaN  78-43-52                               Cholera    12-Jul-18
25       NaN  80-37-20                               Cholera  13-Jul-2018
26       NaN  81-83-13                               Cholera  29-Sep-2018
27       NaN  57-21-70                               Cholera  09-May-2015
28       NaN  52-45-61                               Cholera  29-Apr-2015
29       NaN  13-99-59                               Cholera  20-May-2015
..       ...       ...                                   ...          ...
369      NaN  60-42-09  Streptococcus,Group D [Enterococcus]  07-Jan-2016
370      NaN  64-94-05  Streptococcus,Group D [Enterococcus]  11-Jun-2016
371      NaN  65-06-52  Streptococcus,Group D [Enterococcus]    01-Aug-16
372      NaN  66-24-70  Streptococcus,Group D [Enterococcus]  25-Oct-2016
373      NaN  71-13-81  Streptococcus,Group D [Enterococcus]  16-Apr-2017
374      NaN  60-48-72  Streptococcus,Group D [Enterococcus]  12-Apr-2018
375      NaN  51-72-90  Streptococcus,Group D [Enterococcus]  16-Jun-2014
376      NaN  43-08-66  Streptococcus,Group D [Enterococcus]  12-Jul-2017
377      NaN  55-54-77  Streptococcus,Group D [Enterococcus]    06-Feb-15
378      NaN  59-55-74  Streptococcus,Group D [Enterococcus]    13-Sep-15
379      NaN  60-72-37  Streptococcus,Group D [Enterococcus]  15-Nov-2015
380      NaN  59-51-25  Streptococcus,Group D [Enterococcus]    10-Sep-15
381      NaN  61-10-84  Streptococcus,Group D [Enterococcus]  07-Dec-2015
382      NaN  61-66-48  Streptococcus,Group D [Enterococcus]    05-Jan-16
383      NaN  73-85-96  Streptococcus,Group D [Enterococcus]  06-Sep-2017
384      NaN  53-88-07  Streptococcus,Group D [Enterococcus]  23-Oct-2014
385      NaN  54-55-38  Streptococcus,Group D [Enterococcus]    17-Dec-14
386      NaN  53-44-66  Streptococcus,Group D [Enterococcus]    24-Sep-14
387      NaN  51-24-41  Streptococcus,Group D [Enterococcus]  21-Jan-2015
388      NaN  56-54-41  Streptococcus,Group D [Enterococcus]  12-Apr-2015
389      NaN  59-12-84  Streptococcus,Group D [Enterococcus]    27-Aug-15
390      NaN  63-05-78  Streptococcus,Group D [Enterococcus]    07-Mar-16
391      NaN  69-37-61  Streptococcus,Group D [Enterococcus]  11-Jan-2017
392      NaN  70-20-04  Streptococcus,Group D [Enterococcus]    28-Mar-17
393      NaN  50-32-77  Streptococcus,Group D [Enterococcus]    26-Apr-14
394      NaN  52-79-86  Streptococcus,Group D [Enterococcus]  17-Aug-2014
395      NaN  64-22-01  Streptococcus,Group D [Enterococcus]    02-May-16
396      NaN  59-49-58  Streptococcus,Group D [Enterococcus]  11-Sep-2015
397      NaN  59-80-92  Streptococcus,Group D [Enterococcus]    28-Sep-15
398      NaN  69-74-10  Streptococcus,Group D [Enterococcus]  31-Jan-2017

       YEAR
0       NaN
1    2018.0
2    2014.0
3    2015.0
4    2014.0
5    2014.0
6    2014.0
7    2014.0
8    2015.0
9    2015.0
10   2016.0
11   2016.0
12   2016.0
13   2016.0
14   2016.0
15   2016.0
16   2016.0
17   2016.0
18   2017.0
19   2017.0
20   2017.0
21   2017.0
22   2017.0
23   2017.0
24   2018.0
25   2018.0
26   2018.0
27   2015.0
28   2015.0
29   2015.0
..      ...
369  2016.0
370  2016.0
371  2016.0
372  2016.0
373  2017.0
374  2018.0
375  2014.0
376  2017.0
377  2015.0
378  2015.0
379  2015.0
380  2015.0
381  2015.0
382  2016.0
383  2017.0
384  2014.0
385  2014.0
386  2014.0
387  2015.0
388  2015.0
389  2015.0
390  2016.0
391  2017.0
392  2017.0
393  2014.0
394  2014.0
395  2016.0
396  2015.0
397  2015.0
398  2017.0

[399 rows x 5 columns]

In [4]:
df1['p_id']=df1['P_ID'].str.replace('-','')
print(df1)

    Variable      P_ID                          DESCRTIPTION          DOA  \
0      Label       NaN                                   NaN          NaN
1        NaN  83-33-67                               Cholera  08-Dec-2018
2        NaN  44-71-95                               Cholera  27-Sep-2014
3        NaN  59-15-01                               Cholera    22-Aug-15
4        NaN  50-77-76                               Cholera    12-Apr-14
5        NaN  50-79-74                               Cholera  13-Apr-2014
6        NaN  50-81-63                               Cholera  14-Apr-2014
7        NaN  53-81-49                               Cholera  20-Oct-2014
8        NaN  58-05-07                               Cholera  22-Jun-2015
9        NaN  52-07-45                               Cholera  19-Jul-2015
10       NaN  63-80-93                               Cholera  12-Apr-2016
11       NaN  62-06-21                               Cholera    18-Jan-16
12       NaN  64-08-96                               Cholera  25-Apr-2016
13       NaN  63-77-89                               Cholera  10-Apr-2016
14       NaN  63-95-06                               Cholera  19-Apr-2016
15       NaN  65-07-12                               Cholera  13-Jun-2016
16       NaN  61-58-72                               Cholera  18-Apr-2016
17       NaN  29-39-00                               Cholera  06-Aug-2016
18       NaN  74-43-99                               Cholera  14-Sep-2017
19       NaN  73-13-66                               Cholera    12-Oct-17
20       NaN  71-39-38                               Cholera  19-Apr-2017
21       NaN  71-57-06                               Cholera  27-Apr-2017
22       NaN  73-00-77                               Cholera    10-Jul-17
23       NaN  68-12-94                               Cholera  03-Aug-2017
24       NaN  78-43-52                               Cholera    12-Jul-18
25       NaN  80-37-20                               Cholera  13-Jul-2018
26       NaN  81-83-13                               Cholera  29-Sep-2018
27       NaN  57-21-70                               Cholera  09-May-2015
28       NaN  52-45-61                               Cholera  29-Apr-2015
29       NaN  13-99-59                               Cholera  20-May-2015
..       ...       ...                                   ...          ...
369      NaN  60-42-09  Streptococcus,Group D [Enterococcus]  07-Jan-2016
370      NaN  64-94-05  Streptococcus,Group D [Enterococcus]  11-Jun-2016
371      NaN  65-06-52  Streptococcus,Group D [Enterococcus]    01-Aug-16
372      NaN  66-24-70  Streptococcus,Group D [Enterococcus]  25-Oct-2016
373      NaN  71-13-81  Streptococcus,Group D [Enterococcus]  16-Apr-2017
374      NaN  60-48-72  Streptococcus,Group D [Enterococcus]  12-Apr-2018
375      NaN  51-72-90  Streptococcus,Group D [Enterococcus]  16-Jun-2014
376      NaN  43-08-66  Streptococcus,Group D [Enterococcus]  12-Jul-2017
377      NaN  55-54-77  Streptococcus,Group D [Enterococcus]    06-Feb-15
378      NaN  59-55-74  Streptococcus,Group D [Enterococcus]    13-Sep-15
379      NaN  60-72-37  Streptococcus,Group D [Enterococcus]  15-Nov-2015
380      NaN  59-51-25  Streptococcus,Group D [Enterococcus]    10-Sep-15
381      NaN  61-10-84  Streptococcus,Group D [Enterococcus]  07-Dec-2015
382      NaN  61-66-48  Streptococcus,Group D [Enterococcus]    05-Jan-16
383      NaN  73-85-96  Streptococcus,Group D [Enterococcus]  06-Sep-2017
384      NaN  53-88-07  Streptococcus,Group D [Enterococcus]  23-Oct-2014
385      NaN  54-55-38  Streptococcus,Group D [Enterococcus]    17-Dec-14
386      NaN  53-44-66  Streptococcus,Group D [Enterococcus]    24-Sep-14
387      NaN  51-24-41  Streptococcus,Group D [Enterococcus]  21-Jan-2015
388      NaN  56-54-41  Streptococcus,Group D [Enterococcus]  12-Apr-2015
389      NaN  59-12-84  Streptococcus,Group D [Enterococcus]    27-Aug-15
390      NaN  63-05-78  Streptococcus,Group D [Enterococcus]    07-Mar-16
391      NaN  69-37-61  Streptococcus,Group D [Enterococcus]  11-Jan-2017
392      NaN  70-20-04  Streptococcus,Group D [Enterococcus]    28-Mar-17
393      NaN  50-32-77  Streptococcus,Group D [Enterococcus]    26-Apr-14
394      NaN  52-79-86  Streptococcus,Group D [Enterococcus]  17-Aug-2014
395      NaN  64-22-01  Streptococcus,Group D [Enterococcus]    02-May-16
396      NaN  59-49-58  Streptococcus,Group D [Enterococcus]  11-Sep-2015
397      NaN  59-80-92  Streptococcus,Group D [Enterococcus]    28-Sep-15
398      NaN  69-74-10  Streptococcus,Group D [Enterococcus]  31-Jan-2017

       YEAR    p_id
0       NaN     NaN
1    2018.0  833367
2    2014.0  447195
3    2015.0  591501
4    2014.0  507776
5    2014.0  507974
6    2014.0  508163
7    2014.0  538149
8    2015.0  580507
9    2015.0  520745
10   2016.0  638093
11   2016.0  620621
12   2016.0  640896
13   2016.0  637789
14   2016.0  639506
15   2016.0  650712
16   2016.0  615872
17   2016.0  293900
18   2017.0  744399
19   2017.0  731366
20   2017.0  713938
21   2017.0  715706
22   2017.0  730077
23   2017.0  681294
24   2018.0  784352
25   2018.0  803720
26   2018.0  818313
27   2015.0  572170
28   2015.0  524561
29   2015.0  139959
..      ...     ...
369  2016.0  604209
370  2016.0  649405
371  2016.0  650652
372  2016.0  662470
373  2017.0  711381
374  2018.0  604872
375  2014.0  517290
376  2017.0  430866
377  2015.0  555477
378  2015.0  595574
379  2015.0  607237
380  2015.0  595125
381  2015.0  611084
382  2016.0  616648
383  2017.0  738596
384  2014.0  538807
385  2014.0  545538
386  2014.0  534466
387  2015.0  512441
388  2015.0  565441
389  2015.0  591284
390  2016.0  630578
391  2017.0  693761
392  2017.0  702004
393  2014.0  503277
394  2014.0  527986
395  2016.0  642201
396  2015.0  594958
397  2015.0  598092
398  2017.0  697410

[399 rows x 6 columns]

In [5]:
#rescaling data between 0 and 1
import scipy
import numpy as np
df1=df1.drop(['P_ID'],axis=1)
df1

,Variable,DESCRTIPTION,DOA,YEAR,p_id
0,Label,NaN,NaN,NaN,NaN
1,NaN,Cholera,08-Dec-2018,2018.0,833367
2,NaN,Cholera,27-Sep-2014,2014.0,447195
3,NaN,Cholera,22-Aug-15,2015.0,591501
4,NaN,Cholera,12-Apr-14,2014.0,507776
5,NaN,Cholera,13-Apr-2014,2014.0,507974
6,NaN,Cholera,14-Apr-2014,2014.0,508163
7,NaN,Cholera,20-Oct-2014,2014.0,538149
8,NaN,Cholera,22-Jun-2015,2015.0,580507
9,NaN,Cholera,19-Jul-2015,2015.0,520745
10,NaN,Cholera,12-Apr-2016,2016.0,638093
11,NaN,Cholera,18-Jan-16,2016.0,620621
12,NaN,Cholera,25-Apr-2016,2016.0,640896
13,NaN,Cholera,10-Apr-2016,2016.0,637789
14,NaN,Cholera,19-Apr-2016,2016.0,639506
15,NaN,Cholera,13-Jun-2016,2016.0,650712
16,NaN,Cholera,18-Apr-2016,2016.0,615872
17,NaN,Cholera,06-Aug-2016,2016.0,293900
18,NaN,Cholera,14-Sep-2017,2017.0,744399
19,NaN,Cholera,12-Oct-17,2017.0,731366
20,NaN,Cholera,19-Apr-2017,2017.0,713938
21,NaN,Cholera,27-Apr-2017,2017.0,715706
22,NaN,Cholera,10-Jul-17,2017.0,730077
23,NaN,Cholera,03-Aug-2017,2017.0,681294
24,NaN,Cholera,12-Jul-18,2018.0,784352
25,NaN,Cholera,13-Jul-2018,2018.0,803720
26,NaN,Cholera,29-Sep-2018,2018.0,818313
27,NaN,Cholera,09-May-2015,2015.0,572170
28,NaN,Cholera,29-Apr-2015,2015.0,524561
29,NaN,Cholera,20-May-2015,2015.0,139959
...,...,...,...,...,...
369,NaN,"Streptococcus,Group D [Enterococcus]",07-Jan-2016,2016.0,604209
370,NaN,"Streptococcus,Group D [Enterococcus]",11-Jun-2016,2016.0,649405
371,NaN,"Streptococcus,Group D [Enterococcus]",01-Aug-16,2016.0,650652
372,NaN,"Streptococcus,Group D [Enterococcus]",25-Oct-2016,2016.0,662470
373,NaN,"Streptococcus,Group D [Enterococcus]",16-Apr-2017,2017.0,711381
374,NaN,"Streptococcus,Group D [Enterococcus]",12-Apr-2018,2018.0,604872
375,NaN,"Streptococcus,Group D [Enterococcus]",16-Jun-2014,2014.0,517290
376,NaN,"Streptococcus,Group D [Enterococcus]",12-Jul-2017,2017.0,430866
377,NaN,"Streptococcus,Group D [Enterococcus]",06-Feb-15,2015.0,555477
378,NaN,"Streptococcus,Group D [Enterococcus]",13-Sep-15,2015.0,595574
379,NaN,"Streptococcus,Group D [Enterococcus]",15-Nov-2015,2015.0,607237
380,NaN,"Streptococcus,Group D [Enterococcus]",10-Sep-15,2015.0,595125
381,NaN,"Streptococcus,Group D [Enterococcus]",07-Dec-2015,2015.0,611084
382,NaN,"Streptococcus,Group D [Enterococcus]",05-Jan-16,2016.0,616648
383,NaN,"Streptococcus,Group D [Enterococcus]",06-Sep-2017,2017.0,738596
384,NaN,"Streptococcus,Group D [Enterococcus]",23-Oct-2014,2014.0,538807
385,NaN,"Streptococcus,Group D [Enterococcus]",17-Dec-14,2014.0,545538
386,NaN,"Streptococcus,Group D [Enterococcus]",24-Sep-14,2014.0,534466
387,NaN,"Streptococcus,Group D [Enterococcus]",21-Jan-2015,2015.0,512441
388,NaN,"Streptococcus,Group D [Enterococcus]",12-Apr-2015,2015.0,565441
389,NaN,"Streptococcus,Group D [Enterococcus]",27-Aug-15,2015.0,591284
390,NaN,"Streptococcus,Group D [Enterococcus]",07-Mar-16,2016.0,630578
391,NaN,"Streptococcus,Group D [Enterococcus]",11-Jan-2017,2017.0,693761
392,NaN,"Streptococcus,Group D [Enterococcus]",28-Mar-17,2017.0,702004
393,NaN,"Streptococcus,Group D [Enterococcus]",26-Apr-14,2014.0,503277
394,NaN,"Streptococcus,Group D [Enterococcus]",17-Aug-2014,2014.0,527986
395,NaN,"Streptococcus,Group D [Enterococcus]",02-May-16,2016.0,642201
396,NaN,"Streptococcus,Group D [Enterococcus]",11-Sep-2015,2015.0,594958
397,NaN,"Streptococcus,Group D [Enterococcus]",28-Sep-15,2015.0,598092
398,NaN,"Streptococcus,Group D [Enterococcus]",31-Jan-2017,2017.0,697410

In [6]:
df1=df1.drop(['Variable'],axis=1)
df1

                             DESCRTIPTION          DOA    YEAR    p_id
0                                     NaN          NaN     NaN     NaN
1                                 Cholera  08-Dec-2018  2018.0  833367
2                                 Cholera  27-Sep-2014  2014.0  447195
3                                 Cholera    22-Aug-15  2015.0  591501
4                                 Cholera    12-Apr-14  2014.0  507776
5                                 Cholera  13-Apr-2014  2014.0  507974
6                                 Cholera  14-Apr-2014  2014.0  508163
7                                 Cholera  20-Oct-2014  2014.0  538149
8                                 Cholera  22-Jun-2015  2015.0  580507
9                                 Cholera  19-Jul-2015  2015.0  520745
10                                Cholera  12-Apr-2016  2016.0  638093
11                                Cholera    18-Jan-16  2016.0  620621
12                                Cholera  25-Apr-2016  2016.0  640896
13                                Cholera  10-Apr-2016  2016.0  637789
14                                Cholera  19-Apr-2016  2016.0  639506
15                                Cholera  13-Jun-2016  2016.0  650712
16                                Cholera  18-Apr-2016  2016.0  615872
17                                Cholera  06-Aug-2016  2016.0  293900
18                                Cholera  14-Sep-2017  2017.0  744399
19                                Cholera    12-Oct-17  2017.0  731366
20                                Cholera  19-Apr-2017  2017.0  713938
21                                Cholera  27-Apr-2017  2017.0  715706
22                                Cholera    10-Jul-17  2017.0  730077
23                                Cholera  03-Aug-2017  2017.0  681294
24                                Cholera    12-Jul-18  2018.0  784352
25                                Cholera  13-Jul-2018  2018.0  803720
26                                Cholera  29-Sep-2018  2018.0  818313
27                                Cholera  09-May-2015  2015.0  572170
28                                Cholera  29-Apr-2015  2015.0  524561
29                                Cholera  20-May-2015  2015.0  139959
..                                    ...          ...     ...     ...
369  Streptococcus,Group D [Enterococcus]  07-Jan-2016  2016.0  604209
370  Streptococcus,Group D [Enterococcus]  11-Jun-2016  2016.0  649405
371  Streptococcus,Group D [Enterococcus]    01-Aug-16  2016.0  650652
372  Streptococcus,Group D [Enterococcus]  25-Oct-2016  2016.0  662470
373  Streptococcus,Group D [Enterococcus]  16-Apr-2017  2017.0  711381
374  Streptococcus,Group D [Enterococcus]  12-Apr-2018  2018.0  604872
375  Streptococcus,Group D [Enterococcus]  16-Jun-2014  2014.0  517290
376  Streptococcus,Group D [Enterococcus]  12-Jul-2017  2017.0  430866
377  Streptococcus,Group D [Enterococcus]    06-Feb-15  2015.0  555477
378  Streptococcus,Group D [Enterococcus]    13-Sep-15  2015.0  595574
379  Streptococcus,Group D [Enterococcus]  15-Nov-2015  2015.0  607237
380  Streptococcus,Group D [Enterococcus]    10-Sep-15  2015.0  595125
381  Streptococcus,Group D [Enterococcus]  07-Dec-2015  2015.0  611084
382  Streptococcus,Group D [Enterococcus]    05-Jan-16  2016.0  616648
383  Streptococcus,Group D [Enterococcus]  06-Sep-2017  2017.0  738596
384  Streptococcus,Group D [Enterococcus]  23-Oct-2014  2014.0  538807
385  Streptococcus,Group D [Enterococcus]    17-Dec-14  2014.0  545538
386  Streptococcus,Group D [Enterococcus]    24-Sep-14  2014.0  534466
387  Streptococcus,Group D [Enterococcus]  21-Jan-2015  2015.0  512441
388  Streptococcus,Group D [Enterococcus]  12-Apr-2015  2015.0  565441
389  Streptococcus,Group D [Enterococcus]    27-Aug-15  2015.0  591284
390  Streptococcus,Group D [Enterococcus]    07-Mar-16  2016.0  630578
391  Streptococcus,Group D [Enterococcus]  11-Jan-2017  2017.0  693761
392  Streptococcus,Group D [Enterococcus]    28-Mar-17  2017.0  702004
393  Streptococcus,Group D [Enterococcus]    26-Apr-14  2014.0  503277
394  Streptococcus,Group D [Enterococcus]  17-Aug-2014  2014.0  527986
395  Streptococcus,Group D [Enterococcus]    02-May-16  2016.0  642201
396  Streptococcus,Group D [Enterococcus]  11-Sep-2015  2015.0  594958
397  Streptococcus,Group D [Enterococcus]    28-Sep-15  2015.0  598092
398  Streptococcus,Group D [Enterococcus]  31-Jan-2017  2017.0  697410

[399 rows x 4 columns]

In [7]:
df1=df1.dropna()
df1

                             DESCRTIPTION          DOA    YEAR    p_id
1                                 Cholera  08-Dec-2018  2018.0  833367
2                                 Cholera  27-Sep-2014  2014.0  447195
3                                 Cholera    22-Aug-15  2015.0  591501
4                                 Cholera    12-Apr-14  2014.0  507776
5                                 Cholera  13-Apr-2014  2014.0  507974
6                                 Cholera  14-Apr-2014  2014.0  508163
7                                 Cholera  20-Oct-2014  2014.0  538149
8                                 Cholera  22-Jun-2015  2015.0  580507
9                                 Cholera  19-Jul-2015  2015.0  520745
10                                Cholera  12-Apr-2016  2016.0  638093
11                                Cholera    18-Jan-16  2016.0  620621
12                                Cholera  25-Apr-2016  2016.0  640896
13                                Cholera  10-Apr-2016  2016.0  637789
14                                Cholera  19-Apr-2016  2016.0  639506
15                                Cholera  13-Jun-2016  2016.0  650712
16                                Cholera  18-Apr-2016  2016.0  615872
17                                Cholera  06-Aug-2016  2016.0  293900
18                                Cholera  14-Sep-2017  2017.0  744399
19                                Cholera    12-Oct-17  2017.0  731366
20                                Cholera  19-Apr-2017  2017.0  713938
21                                Cholera  27-Apr-2017  2017.0  715706
22                                Cholera    10-Jul-17  2017.0  730077
23                                Cholera  03-Aug-2017  2017.0  681294
24                                Cholera    12-Jul-18  2018.0  784352
25                                Cholera  13-Jul-2018  2018.0  803720
26                                Cholera  29-Sep-2018  2018.0  818313
27                                Cholera  09-May-2015  2015.0  572170
28                                Cholera  29-Apr-2015  2015.0  524561
29                                Cholera  20-May-2015  2015.0  139959
30                                Cholera  07-Nov-2015  2015.0  605838
..                                    ...          ...     ...     ...
369  Streptococcus,Group D [Enterococcus]  07-Jan-2016  2016.0  604209
370  Streptococcus,Group D [Enterococcus]  11-Jun-2016  2016.0  649405
371  Streptococcus,Group D [Enterococcus]    01-Aug-16  2016.0  650652
372  Streptococcus,Group D [Enterococcus]  25-Oct-2016  2016.0  662470
373  Streptococcus,Group D [Enterococcus]  16-Apr-2017  2017.0  711381
374  Streptococcus,Group D [Enterococcus]  12-Apr-2018  2018.0  604872
375  Streptococcus,Group D [Enterococcus]  16-Jun-2014  2014.0  517290
376  Streptococcus,Group D [Enterococcus]  12-Jul-2017  2017.0  430866
377  Streptococcus,Group D [Enterococcus]    06-Feb-15  2015.0  555477
378  Streptococcus,Group D [Enterococcus]    13-Sep-15  2015.0  595574
379  Streptococcus,Group D [Enterococcus]  15-Nov-2015  2015.0  607237
380  Streptococcus,Group D [Enterococcus]    10-Sep-15  2015.0  595125
381  Streptococcus,Group D [Enterococcus]  07-Dec-2015  2015.0  611084
382  Streptococcus,Group D [Enterococcus]    05-Jan-16  2016.0  616648
383  Streptococcus,Group D [Enterococcus]  06-Sep-2017  2017.0  738596
384  Streptococcus,Group D [Enterococcus]  23-Oct-2014  2014.0  538807
385  Streptococcus,Group D [Enterococcus]    17-Dec-14  2014.0  545538
386  Streptococcus,Group D [Enterococcus]    24-Sep-14  2014.0  534466
387  Streptococcus,Group D [Enterococcus]  21-Jan-2015  2015.0  512441
388  Streptococcus,Group D [Enterococcus]  12-Apr-2015  2015.0  565441
389  Streptococcus,Group D [Enterococcus]    27-Aug-15  2015.0  591284
390  Streptococcus,Group D [Enterococcus]    07-Mar-16  2016.0  630578
391  Streptococcus,Group D [Enterococcus]  11-Jan-2017  2017.0  693761
392  Streptococcus,Group D [Enterococcus]    28-Mar-17  2017.0  702004
393  Streptococcus,Group D [Enterococcus]    26-Apr-14  2014.0  503277
394  Streptococcus,Group D [Enterococcus]  17-Aug-2014  2014.0  527986
395  Streptococcus,Group D [Enterococcus]    02-May-16  2016.0  642201
396  Streptococcus,Group D [Enterococcus]  11-Sep-2015  2015.0  594958
397  Streptococcus,Group D [Enterococcus]    28-Sep-15  2015.0  598092
398  Streptococcus,Group D [Enterococcus]  31-Jan-2017  2017.0  697410

[398 rows x 4 columns]

In [8]:
df1[['day','month','year1']] = df1.DOA.str.split("-",expand=True,)
df1

D:\anaconda\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,DESCRTIPTION,DOA,YEAR,p_id,day,month,year1
1,Cholera,08-Dec-2018,2018.0,833367,08,Dec,2018
2,Cholera,27-Sep-2014,2014.0,447195,27,Sep,2014
3,Cholera,22-Aug-15,2015.0,591501,22,Aug,15
4,Cholera,12-Apr-14,2014.0,507776,12,Apr,14
5,Cholera,13-Apr-2014,2014.0,507974,13,Apr,2014
6,Cholera,14-Apr-2014,2014.0,508163,14,Apr,2014
7,Cholera,20-Oct-2014,2014.0,538149,20,Oct,2014
8,Cholera,22-Jun-2015,2015.0,580507,22,Jun,2015
9,Cholera,19-Jul-2015,2015.0,520745,19,Jul,2015
10,Cholera,12-Apr-2016,2016.0,638093,12,Apr,2016
11,Cholera,18-Jan-16,2016.0,620621,18,Jan,16
12,Cholera,25-Apr-2016,2016.0,640896,25,Apr,2016
13,Cholera,10-Apr-2016,2016.0,637789,10,Apr,2016
14,Cholera,19-Apr-2016,2016.0,639506,19,Apr,2016
15,Cholera,13-Jun-2016,2016.0,650712,13,Jun,2016
16,Cholera,18-Apr-2016,2016.0,615872,18,Apr,2016
17,Cholera,06-Aug-2016,2016.0,293900,06,Aug,2016
18,Cholera,14-Sep-2017,2017.0,744399,14,Sep,2017
19,Cholera,12-Oct-17,2017.0,731366,12,Oct,17
20,Cholera,19-Apr-2017,2017.0,713938,19,Apr,2017
21,Cholera,27-Apr-2017,2017.0,715706,27,Apr,2017
22,Cholera,10-Jul-17,2017.0,730077,10,Jul,17
23,Cholera,03-Aug-2017,2017.0,681294,03,Aug,2017
24,Cholera,12-Jul-18,2018.0,784352,12,Jul,18
25,Cholera,13-Jul-2018,2018.0,803720,13,Jul,2018
26,Cholera,29-Sep-2018,2018.0,818313,29,Sep,2018
27,Cholera,09-May-2015,2015.0,572170,09,May,2015
28,Cholera,29-Apr-2015,2015.0,524561,29,Apr,2015
29,Cholera,20-May-2015,2015.0,139959,20,May,2015
30,Cholera,07-Nov-2015,2015.0,605838,07,Nov,2015
...,...,...,...,...,...,...,...
369,"Streptococcus,Group D [Enterococcus]",07-Jan-2016,2016.0,604209,07,Jan,2016
370,"Streptococcus,Group D [Enterococcus]",11-Jun-2016,2016.0,649405,11,Jun,2016
371,"Streptococcus,Group D [Enterococcus]",01-Aug-16,2016.0,650652,01,Aug,16
372,"Streptococcus,Group D [Enterococcus]",25-Oct-2016,2016.0,662470,25,Oct,2016
373,"Streptococcus,Group D [Enterococcus]",16-Apr-2017,2017.0,711381,16,Apr,2017
374,"Streptococcus,Group D [Enterococcus]",12-Apr-2018,2018.0,604872,12,Apr,2018
375,"Streptococcus,Group D [Enterococcus]",16-Jun-2014,2014.0,517290,16,Jun,2014
376,"Streptococcus,Group D [Enterococcus]",12-Jul-2017,2017.0,430866,12,Jul,2017
377,"Streptococcus,Group D [Enterococcus]",06-Feb-15,2015.0,555477,06,Feb,15
378,"Streptococcus,Group D [Enterococcus]",13-Sep-15,2015.0,595574,13,Sep,15
379,"Streptococcus,Group D [Enterococcus]",15-Nov-2015,2015.0,607237,15,Nov,2015
380,"Streptococcus,Group D [Enterococcus]",10-Sep-15,2015.0,595125,10,Sep,15
381,"Streptococcus,Group D [Enterococcus]",07-Dec-2015,2015.0,611084,07,Dec,2015
382,"Streptococcus,Group D [Enterococcus]",05-Jan-16,2016.0,616648,05,Jan,16
383,"Streptococcus,Group D [Enterococcus]",06-Sep-2017,2017.0,738596,06,Sep,2017
384,"Streptococcus,Group D [Enterococcus]",23-Oct-2014,2014.0,538807,23,Oct,2014
385,"Streptococcus,Group D [Enterococcus]",17-Dec-14,2014.0,545538,17,Dec,14
386,"Streptococcus,Group D [Enterococcus]",24-Sep-14,2014.0,534466,24,Sep,14
387,"Streptococcus,Group D [Enterococcus]",21-Jan-2015,2015.0,512441,21,Jan,2015
388,"Streptococcus,Group D [Enterococcus]",12-Apr-2015,2015.0,565441,12,Apr,2015
389,"Streptococcus,Group D [Enterococcus]",27-Aug-15,2015.0,591284,27,Aug,15
390,"Streptococcus,Group D [Enterococcus]",07-Mar-16,2016.0,630578,07,Mar,16
391,"Streptococcus,Group D [Enterococcus]",11-Jan-2017,2017.0,693761,11,Jan,2017
392,"Streptococcus,Group D [Enterococcus]",28-Mar-17,2017.0,702004,28,Mar,17
393,"Streptococcus,Group D [Enterococcus]",26-Apr-14,2014.0,503277,26,Apr,14
394,"Streptococcus,Group D [Enterococcus]",17-Aug-2014,2014.0,527986,17,Aug,2014
395,"Streptococcus,Group D [Enterococcus]",02-May-16,2016.0,642201,02,May,16
396,"Streptococcus,Group D [Enterococcus]",11-Sep-2015,2015.0,594958,11,Sep,2015
397,"Streptococcus,Group D [Enterococcus]",28-Sep-15,2015.0,598092,28,Sep,15
398,"Streptococcus,Group D [Enterococcus]",31-Jan-2017,2017.0,697410,31,Jan,2017

In [9]:
df1=df1.drop(['year1'],axis=1)
df1

,DESCRTIPTION,DOA,YEAR,p_id,day,month
1,Cholera,08-Dec-2018,2018.0,833367,08,Dec
2,Cholera,27-Sep-2014,2014.0,447195,27,Sep
3,Cholera,22-Aug-15,2015.0,591501,22,Aug
4,Cholera,12-Apr-14,2014.0,507776,12,Apr
5,Cholera,13-Apr-2014,2014.0,507974,13,Apr
6,Cholera,14-Apr-2014,2014.0,508163,14,Apr
7,Cholera,20-Oct-2014,2014.0,538149,20,Oct
8,Cholera,22-Jun-2015,2015.0,580507,22,Jun
9,Cholera,19-Jul-2015,2015.0,520745,19,Jul
10,Cholera,12-Apr-2016,2016.0,638093,12,Apr
11,Cholera,18-Jan-16,2016.0,620621,18,Jan
12,Cholera,25-Apr-2016,2016.0,640896,25,Apr
13,Cholera,10-Apr-2016,2016.0,637789,10,Apr
14,Cholera,19-Apr-2016,2016.0,639506,19,Apr
15,Cholera,13-Jun-2016,2016.0,650712,13,Jun
16,Cholera,18-Apr-2016,2016.0,615872,18,Apr
17,Cholera,06-Aug-2016,2016.0,293900,06,Aug
18,Cholera,14-Sep-2017,2017.0,744399,14,Sep
19,Cholera,12-Oct-17,2017.0,731366,12,Oct
20,Cholera,19-Apr-2017,2017.0,713938,19,Apr
21,Cholera,27-Apr-2017,2017.0,715706,27,Apr
22,Cholera,10-Jul-17,2017.0,730077,10,Jul
23,Cholera,03-Aug-2017,2017.0,681294,03,Aug
24,Cholera,12-Jul-18,2018.0,784352,12,Jul
25,Cholera,13-Jul-2018,2018.0,803720,13,Jul
26,Cholera,29-Sep-2018,2018.0,818313,29,Sep
27,Cholera,09-May-2015,2015.0,572170,09,May
28,Cholera,29-Apr-2015,2015.0,524561,29,Apr
29,Cholera,20-May-2015,2015.0,139959,20,May
30,Cholera,07-Nov-2015,2015.0,605838,07,Nov
...,...,...,...,...,...,...
369,"Streptococcus,Group D [Enterococcus]",07-Jan-2016,2016.0,604209,07,Jan
370,"Streptococcus,Group D [Enterococcus]",11-Jun-2016,2016.0,649405,11,Jun
371,"Streptococcus,Group D [Enterococcus]",01-Aug-16,2016.0,650652,01,Aug
372,"Streptococcus,Group D [Enterococcus]",25-Oct-2016,2016.0,662470,25,Oct
373,"Streptococcus,Group D [Enterococcus]",16-Apr-2017,2017.0,711381,16,Apr
374,"Streptococcus,Group D [Enterococcus]",12-Apr-2018,2018.0,604872,12,Apr
375,"Streptococcus,Group D [Enterococcus]",16-Jun-2014,2014.0,517290,16,Jun
376,"Streptococcus,Group D [Enterococcus]",12-Jul-2017,2017.0,430866,12,Jul
377,"Streptococcus,Group D [Enterococcus]",06-Feb-15,2015.0,555477,06,Feb
378,"Streptococcus,Group D [Enterococcus]",13-Sep-15,2015.0,595574,13,Sep
379,"Streptococcus,Group D [Enterococcus]",15-Nov-2015,2015.0,607237,15,Nov
380,"Streptococcus,Group D [Enterococcus]",10-Sep-15,2015.0,595125,10,Sep
381,"Streptococcus,Group D [Enterococcus]",07-Dec-2015,2015.0,611084,07,Dec
382,"Streptococcus,Group D [Enterococcus]",05-Jan-16,2016.0,616648,05,Jan
383,"Streptococcus,Group D [Enterococcus]",06-Sep-2017,2017.0,738596,06,Sep
384,"Streptococcus,Group D [Enterococcus]",23-Oct-2014,2014.0,538807,23,Oct
385,"Streptococcus,Group D [Enterococcus]",17-Dec-14,2014.0,545538,17,Dec
386,"Streptococcus,Group D [Enterococcus]",24-Sep-14,2014.0,534466,24,Sep
387,"Streptococcus,Group D [Enterococcus]",21-Jan-2015,2015.0,512441,21,Jan
388,"Streptococcus,Group D [Enterococcus]",12-Apr-2015,2015.0,565441,12,Apr
389,"Streptococcus,Group D [Enterococcus]",27-Aug-15,2015.0,591284,27,Aug
390,"Streptococcus,Group D [Enterococcus]",07-Mar-16,2016.0,630578,07,Mar
391,"Streptococcus,Group D [Enterococcus]",11-Jan-2017,2017.0,693761,11,Jan
392,"Streptococcus,Group D [Enterococcus]",28-Mar-17,2017.0,702004,28,Mar
393,"Streptococcus,Group D [Enterococcus]",26-Apr-14,2014.0,503277,26,Apr
394,"Streptococcus,Group D [Enterococcus]",17-Aug-2014,2014.0,527986,17,Aug
395,"Streptococcus,Group D [Enterococcus]",02-May-16,2016.0,642201,02,May
396,"Streptococcus,Group D [Enterococcus]",11-Sep-2015,2015.0,594958,11,Sep
397,"Streptococcus,Group D [Enterococcus]",28-Sep-15,2015.0,598092,28,Sep
398,"Streptococcus,Group D [Enterococcus]",31-Jan-2017,2017.0,697410,31,Jan

In [10]:
d = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12, }
df1.month=df1.month.map(d)

df1

,DESCRTIPTION,DOA,YEAR,p_id,day,month
1,Cholera,08-Dec-2018,2018.0,833367,08,12
2,Cholera,27-Sep-2014,2014.0,447195,27,9
3,Cholera,22-Aug-15,2015.0,591501,22,8
4,Cholera,12-Apr-14,2014.0,507776,12,4
5,Cholera,13-Apr-2014,2014.0,507974,13,4
6,Cholera,14-Apr-2014,2014.0,508163,14,4
7,Cholera,20-Oct-2014,2014.0,538149,20,10
8,Cholera,22-Jun-2015,2015.0,580507,22,6
9,Cholera,19-Jul-2015,2015.0,520745,19,7
10,Cholera,12-Apr-2016,2016.0,638093,12,4
11,Cholera,18-Jan-16,2016.0,620621,18,1
12,Cholera,25-Apr-2016,2016.0,640896,25,4
13,Cholera,10-Apr-2016,2016.0,637789,10,4
14,Cholera,19-Apr-2016,2016.0,639506,19,4
15,Cholera,13-Jun-2016,2016.0,650712,13,6
16,Cholera,18-Apr-2016,2016.0,615872,18,4
17,Cholera,06-Aug-2016,2016.0,293900,06,8
18,Cholera,14-Sep-2017,2017.0,744399,14,9
19,Cholera,12-Oct-17,2017.0,731366,12,10
20,Cholera,19-Apr-2017,2017.0,713938,19,4
21,Cholera,27-Apr-2017,2017.0,715706,27,4
22,Cholera,10-Jul-17,2017.0,730077,10,7
23,Cholera,03-Aug-2017,2017.0,681294,03,8
24,Cholera,12-Jul-18,2018.0,784352,12,7
25,Cholera,13-Jul-2018,2018.0,803720,13,7
26,Cholera,29-Sep-2018,2018.0,818313,29,9
27,Cholera,09-May-2015,2015.0,572170,09,5
28,Cholera,29-Apr-2015,2015.0,524561,29,4
29,Cholera,20-May-2015,2015.0,139959,20,5
30,Cholera,07-Nov-2015,2015.0,605838,07,11
...,...,...,...,...,...,...
369,"Streptococcus,Group D [Enterococcus]",07-Jan-2016,2016.0,604209,07,1
370,"Streptococcus,Group D [Enterococcus]",11-Jun-2016,2016.0,649405,11,6
371,"Streptococcus,Group D [Enterococcus]",01-Aug-16,2016.0,650652,01,8
372,"Streptococcus,Group D [Enterococcus]",25-Oct-2016,2016.0,662470,25,10
373,"Streptococcus,Group D [Enterococcus]",16-Apr-2017,2017.0,711381,16,4
374,"Streptococcus,Group D [Enterococcus]",12-Apr-2018,2018.0,604872,12,4
375,"Streptococcus,Group D [Enterococcus]",16-Jun-2014,2014.0,517290,16,6
376,"Streptococcus,Group D [Enterococcus]",12-Jul-2017,2017.0,430866,12,7
377,"Streptococcus,Group D [Enterococcus]",06-Feb-15,2015.0,555477,06,2
378,"Streptococcus,Group D [Enterococcus]",13-Sep-15,2015.0,595574,13,9
379,"Streptococcus,Group D [Enterococcus]",15-Nov-2015,2015.0,607237,15,11
380,"Streptococcus,Group D [Enterococcus]",10-Sep-15,2015.0,595125,10,9
381,"Streptococcus,Group D [Enterococcus]",07-Dec-2015,2015.0,611084,07,12
382,"Streptococcus,Group D [Enterococcus]",05-Jan-16,2016.0,616648,05,1
383,"Streptococcus,Group D [Enterococcus]",06-Sep-2017,2017.0,738596,06,9
384,"Streptococcus,Group D [Enterococcus]",23-Oct-2014,2014.0,538807,23,10
385,"Streptococcus,Group D [Enterococcus]",17-Dec-14,2014.0,545538,17,12
386,"Streptococcus,Group D [Enterococcus]",24-Sep-14,2014.0,534466,24,9
387,"Streptococcus,Group D [Enterococcus]",21-Jan-2015,2015.0,512441,21,1
388,"Streptococcus,Group D [Enterococcus]",12-Apr-2015,2015.0,565441,12,4
389,"Streptococcus,Group D [Enterococcus]",27-Aug-15,2015.0,591284,27,8
390,"Streptococcus,Group D [Enterococcus]",07-Mar-16,2016.0,630578,07,3
391,"Streptococcus,Group D [Enterococcus]",11-Jan-2017,2017.0,693761,11,1
392,"Streptococcus,Group D [Enterococcus]",28-Mar-17,2017.0,702004,28,3
393,"Streptococcus,Group D [Enterococcus]",26-Apr-14,2014.0,503277,26,4
394,"Streptococcus,Group D [Enterococcus]",17-Aug-2014,2014.0,527986,17,8
395,"Streptococcus,Group D [Enterococcus]",02-May-16,2016.0,642201,02,5
396,"Streptococcus,Group D [Enterococcus]",11-Sep-2015,2015.0,594958,11,9
397,"Streptococcus,Group D [Enterococcus]",28-Sep-15,2015.0,598092,28,9
398,"Streptococcus,Group D [Enterococcus]",31-Jan-2017,2017.0,697410,31,1

In [11]:
df1=df1.drop(['DOA'],axis=1)
df1

                             DESCRTIPTION    YEAR    p_id day  month
1                                 Cholera  2018.0  833367  08     12
2                                 Cholera  2014.0  447195  27      9
3                                 Cholera  2015.0  591501  22      8
4                                 Cholera  2014.0  507776  12      4
5                                 Cholera  2014.0  507974  13      4
6                                 Cholera  2014.0  508163  14      4
7                                 Cholera  2014.0  538149  20     10
8                                 Cholera  2015.0  580507  22      6
9                                 Cholera  2015.0  520745  19      7
10                                Cholera  2016.0  638093  12      4
11                                Cholera  2016.0  620621  18      1
12                                Cholera  2016.0  640896  25      4
13                                Cholera  2016.0  637789  10      4
14                                Cholera  2016.0  639506  19      4
15                                Cholera  2016.0  650712  13      6
16                                Cholera  2016.0  615872  18      4
17                                Cholera  2016.0  293900  06      8
18                                Cholera  2017.0  744399  14      9
19                                Cholera  2017.0  731366  12     10
20                                Cholera  2017.0  713938  19      4
21                                Cholera  2017.0  715706  27      4
22                                Cholera  2017.0  730077  10      7
23                                Cholera  2017.0  681294  03      8
24                                Cholera  2018.0  784352  12      7
25                                Cholera  2018.0  803720  13      7
26                                Cholera  2018.0  818313  29      9
27                                Cholera  2015.0  572170  09      5
28                                Cholera  2015.0  524561  29      4
29                                Cholera  2015.0  139959  20      5
30                                Cholera  2015.0  605838  07     11
..                                    ...     ...     ...  ..    ...
369  Streptococcus,Group D [Enterococcus]  2016.0  604209  07      1
370  Streptococcus,Group D [Enterococcus]  2016.0  649405  11      6
371  Streptococcus,Group D [Enterococcus]  2016.0  650652  01      8
372  Streptococcus,Group D [Enterococcus]  2016.0  662470  25     10
373  Streptococcus,Group D [Enterococcus]  2017.0  711381  16      4
374  Streptococcus,Group D [Enterococcus]  2018.0  604872  12      4
375  Streptococcus,Group D [Enterococcus]  2014.0  517290  16      6
376  Streptococcus,Group D [Enterococcus]  2017.0  430866  12      7
377  Streptococcus,Group D [Enterococcus]  2015.0  555477  06      2
378  Streptococcus,Group D [Enterococcus]  2015.0  595574  13      9
379  Streptococcus,Group D [Enterococcus]  2015.0  607237  15     11
380  Streptococcus,Group D [Enterococcus]  2015.0  595125  10      9
381  Streptococcus,Group D [Enterococcus]  2015.0  611084  07     12
382  Streptococcus,Group D [Enterococcus]  2016.0  616648  05      1
383  Streptococcus,Group D [Enterococcus]  2017.0  738596  06      9
384  Streptococcus,Group D [Enterococcus]  2014.0  538807  23     10
385  Streptococcus,Group D [Enterococcus]  2014.0  545538  17     12
386  Streptococcus,Group D [Enterococcus]  2014.0  534466  24      9
387  Streptococcus,Group D [Enterococcus]  2015.0  512441  21      1
388  Streptococcus,Group D [Enterococcus]  2015.0  565441  12      4
389  Streptococcus,Group D [Enterococcus]  2015.0  591284  27      8
390  Streptococcus,Group D [Enterococcus]  2016.0  630578  07      3
391  Streptococcus,Group D [Enterococcus]  2017.0  693761  11      1
392  Streptococcus,Group D [Enterococcus]  2017.0  702004  28      3
393  Streptococcus,Group D [Enterococcus]  2014.0  503277  26      4
394  Streptococcus,Group D [Enterococcus]  2014.0  527986  17      8
395  Streptococcus,Group D [Enterococcus]  2016.0  642201  02      5
396  Streptococcus,Group D [Enterococcus]  2015.0  594958  11      9
397  Streptococcus,Group D [Enterococcus]  2015.0  598092  28      9
398  Streptococcus,Group D [Enterococcus]  2017.0  697410  31      1

[398 rows x 5 columns]

In [12]:
df1.isnull().sum()

DESCRTIPTION    0
YEAR            0
p_id            0
day             0
month           0
dtype: int64

In [13]:
x=df1.iloc[: , :-1].values

In [14]:
x

array([['Cholera', 2018.0, '833367', '08'],
       ['Cholera', 2014.0, '447195', '27'],
       ['Cholera', 2015.0, '591501', '22'],
       ...,
       ['Streptococcus,Group D [Enterococcus]', 2015.0, '594958', '11'],
       ['Streptococcus,Group D [Enterococcus]', 2015.0, '598092', '28'],
       ['Streptococcus,Group D [Enterococcus]', 2017.0, '697410', '31']],
      dtype=object)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_encoder=LabelEncoder()

In [17]:
x[:,0]=label_encoder.fit_transform(x[:,0])

In [18]:
x

array([[5, 2018.0, '833367', '08'],
       [5, 2014.0, '447195', '27'],
       [5, 2015.0, '591501', '22'],
       ...,
       [21, 2015.0, '594958', '11'],
       [21, 2015.0, '598092', '28'],
       [21, 2017.0, '697410', '31']], dtype=object)

In [19]:
dummy=pd.get_dummies(df1['DESCRTIPTION'])

In [20]:
dummy

,Abdominal actinomycotic infection,Actinomycotic infection of other specified sites,Actinomycotic infection of unspecified site,"Amebiasis, unspecified",Amebic liver abscess,Cholera,"Food poisoning, unspecified",Gas gangrene,Giardiasis,"Infectious colitis, enteritis, & gastroenteritis",...,"Salmonella infection, unspecified",Salmonella septicemia,Staphylococcal food poisoning,"Streptococcus, unspecified in conditions classified elsewhere & of unspecified site","Streptococcus,Group A","Streptococcus,Group D [Enterococcus]",Typhoid fever,Unspecified septicemia,Whipples disease,"other organism, not elsewhere classified"
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
373,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
374,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
375,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
376,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
378,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
379,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
386,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
387,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
388,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
389,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
390,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
391,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
392,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
396,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [21]:
df1=pd.concat([df1,dummy],axis=1)

In [22]:
df1

,DESCRTIPTION,YEAR,p_id,day,month,Abdominal actinomycotic infection,Actinomycotic infection of other specified sites,Actinomycotic infection of unspecified site,"Amebiasis, unspecified",Amebic liver abscess,...,"Salmonella infection, unspecified",Salmonella septicemia,Staphylococcal food poisoning,"Streptococcus, unspecified in conditions classified elsewhere & of unspecified site","Streptococcus,Group A","Streptococcus,Group D [Enterococcus]",Typhoid fever,Unspecified septicemia,Whipples disease,"other organism, not elsewhere classified"
1,Cholera,2018.0,833367,08,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cholera,2014.0,447195,27,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Cholera,2015.0,591501,22,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Cholera,2014.0,507776,12,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Cholera,2014.0,507974,13,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Cholera,2014.0,508163,14,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Cholera,2014.0,538149,20,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Cholera,2015.0,580507,22,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Cholera,2015.0,520745,19,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Cholera,2016.0,638093,12,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Cholera,2016.0,620621,18,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Cholera,2016.0,640896,25,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Cholera,2016.0,637789,10,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Cholera,2016.0,639506,19,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Cholera,2016.0,650712,13,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Cholera,2016.0,615872,18,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Cholera,2016.0,293900,06,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Cholera,2017.0,744399,14,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Cholera,2017.0,731366,12,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Cholera,2017.0,713938,19,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Cholera,2017.0,715706,27,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Cholera,2017.0,730077,10,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Cholera,2017.0,681294,03,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Cholera,2018.0,784352,12,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Cholera,2018.0,803720,13,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Cholera,2018.0,818313,29,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Cholera,2015.0,572170,09,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Cholera,2015.0,524561,29,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Cholera,2015.0,139959,20,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Cholera,2015.0,605838,07,11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,"Streptococcus,Group D [Enterococcus]",2016.0,604209,07,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
370,"Streptococcus,Group D [Enterococcus]",2016.0,649405,11,6,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
371,"Streptococcus,Group D [Enterococcus]",2016.0,650652,01,8,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
372,"Streptococcus,Group D [Enterococcus]",2016.0,662470,25,10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
373,"Streptococcus,Group D [Enterococcus]",2017.0,711381,16,4,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
374,"Streptococcus,Group D [Enterococcus]",2018.0,604872,12,4,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
375,"Streptococcus,Group D [Enterococcus]",2014.0,517290,16,6,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
376,"Streptococcus,Group D [Enterococcus]",2017.0,430866,12,7,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
377,"Streptococcus,Group D [Enterococcus]",2015.0,555477,06,2,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
378,"Streptococcus,Group D [Enterococcus]",2015.0,595574,13,9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
379,"Streptococcus,Group D [Enterococcus]",2015.0,607237,15,11,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
380,"Streptococcus,Group D [Enterococcus]",2015.0,595125,10,9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
381,"Streptococcus,Group D [Enterococcus]",2015.0,611084,07,12,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
382,"Streptococcus,Group D [Enterococcus]",2016.0,616648,05,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
383,"Streptococcus,Group D [Enterococcus]",2017.0,738596,06,9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
384,"Streptococcus,Group D [Enterococcus]",2014.0,538807,23,10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
385,"Streptococcus,Group D [Enterococcus]",2014.0,545538,17,12,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
386,"Streptococcus,Group D [Enterococcus]",2014.0,534466,24,9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
387,"Streptococcus,Group D [Enterococcus]",2015.0,512441,21,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
388,"Streptococcus,Group D [Enterococcus]",2015.0,565441,12,4,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
389,"Streptococcus,Group D [Enterococcus]",2015.0,591284,27,8,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
390,"Streptococcus,Group D [Enterococcus]",2016.0,630578,07,3,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
391,"Streptococcus,Group D [Enterococcus]",2017.0,693761,11,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
392,"Streptococcus,Group D [Enterococcus]",2017.0,702004,28,3,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
393,"Streptococcus,Group D [Enterococcus]",2014.0,503277,26,4,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
394,"Streptococcus,Group D [Enterococcus]",2014.0,527986,17,8,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
395,"Streptococcus,Group D [Enterococcus]",2016.0,642201,02,5,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
396,"Streptococcus,Group D [Enterococcus]",2015.0,594958,11,9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
397,"Streptococcus,Group D [Enterococcus]",2015.0,598092,28,9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
398,"Streptococcus,Group D [Enterococcus]",2017.0,697410,31,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [23]:
df1.drop(['DESCRTIPTION'],axis=1)

,YEAR,p_id,day,month,Abdominal actinomycotic infection,Actinomycotic infection of other specified sites,Actinomycotic infection of unspecified site,"Amebiasis, unspecified",Amebic liver abscess,Cholera,...,"Salmonella infection, unspecified",Salmonella septicemia,Staphylococcal food poisoning,"Streptococcus, unspecified in conditions classified elsewhere & of unspecified site","Streptococcus,Group A","Streptococcus,Group D [Enterococcus]",Typhoid fever,Unspecified septicemia,Whipples disease,"other organism, not elsewhere classified"
1,2018.0,833367,08,12,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2014.0,447195,27,9,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2015.0,591501,22,8,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2014.0,507776,12,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,2014.0,507974,13,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,2014.0,508163,14,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,2014.0,538149,20,10,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,2015.0,580507,22,6,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,2015.0,520745,19,7,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,2016.0,638093,12,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,2016.0,620621,18,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,2016.0,640896,25,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,2016.0,637789,10,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,2016.0,639506,19,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,2016.0,650712,13,6,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,2016.0,615872,18,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,2016.0,293900,06,8,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,2017.0,744399,14,9,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,2017.0,731366,12,10,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20,2017.0,713938,19,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,2017.0,715706,27,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22,2017.0,730077,10,7,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,2017.0,681294,03,8,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,2018.0,784352,12,7,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
25,2018.0,803720,13,7,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,2018.0,818313,29,9,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,2015.0,572170,09,5,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,2015.0,524561,29,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,2015.0,139959,20,5,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
30,2015.0,605838,07,11,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,2016.0,604209,07,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
370,2016.0,649405,11,6,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
371,2016.0,650652,01,8,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
372,2016.0,662470,25,10,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
373,2017.0,711381,16,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
374,2018.0,604872,12,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
375,2014.0,517290,16,6,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
376,2017.0,430866,12,7,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
377,2015.0,555477,06,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
378,2015.0,595574,13,9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
379,2015.0,607237,15,11,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
380,2015.0,595125,10,9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
381,2015.0,611084,07,12,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
382,2016.0,616648,05,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
383,2017.0,738596,06,9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
384,2014.0,538807,23,10,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
385,2014.0,545538,17,12,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
386,2014.0,534466,24,9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
387,2015.0,512441,21,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
388,2015.0,565441,12,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
389,2015.0,591284,27,8,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
390,2016.0,630578,07,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
391,2017.0,693761,11,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
392,2017.0,702004,28,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
393,2014.0,503277,26,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
394,2014.0,527986,17,8,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
395,2016.0,642201,02,5,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
396,2015.0,594958,11,9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
397,2015.0,598092,28,9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
398,2017.0,697410,31,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [24]:
y=df1['Cholera'].values
y[0:5]

array([1, 1, 1, 1, 1], dtype=uint8)

In [25]:
from sklearn.preprocessing import Normalizer
scaler=Normalizer().fit(x)
normalizedX=scaler.transform(x)
normalizedX

array([[5.99974002e-06, 2.42149507e-03, 9.99997068e-01, 9.59958403e-06],
       [1.11806914e-05, 4.50358249e-03, 9.99989857e-01, 6.03757335e-05],
       [8.45302203e-06, 3.40656788e-03, 9.99994197e-01, 3.71932969e-05],
       ...,
       [3.52964067e-05, 3.38677426e-03, 9.99994264e-01, 1.84885940e-05],
       [3.51114557e-05, 3.36902778e-03, 9.99994323e-01, 4.68152743e-05],
       [3.01112863e-05, 2.89211735e-03, 9.99995816e-01, 4.44499940e-05]])

In [26]:
from sklearn.model_selection import train_test_split
t_size=0.30
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [27]:
x_train

array([[5, 2018.0, '789437', '07'],
       [19, 2014.0, '535981', '30'],
       [5, 2015.0, '572170', '09'],
       ...,
       [22, 2018.0, '766802', '15'],
       [21, 2015.0, '595125', '10'],
       [7, 2014.0, '530196', '29']], dtype=object)

In [29]:
x_test

array([[5, 2015.0, '574325', '21'],
       [19, 2018.0, '813100', '03'],
       [21, 2014.0, '517290', '16'],
       [3, 2016.0, '631931', '30'],
       [19, 2016.0, '509818', '20'],
       [9, 2018.0, '774739', '09'],
       [19, 2014.0, '535662', '02'],
       [5, 2016.0, '618333', '07'],
       [19, 2017.0, '699558', '03'],
       [4, 2016.0, '652617', '23'],
       [5, 2014.0, '533938', '21'],
       [21, 2016.0, '622461', '27'],
       [4, 2015.0, '599356', '05'],
       [5, 2017.0, '191061', '08'],
       [22, 2018.0, '752694', '25'],
       [22, 2017.0, '476127', '20'],
       [24, 2014.0, '248447', '14'],
       [23, 2018.0, '765371', '11'],
       [22, 2017.0, '751290', '15'],
       [5, 2017.0, '713575', '18'],
       [7, 2015.0, '605951', '09'],
       [6, 2014.0, '514372', '22'],
       [9, 2017.0, '713775', '15'],
       [5, 2018.0, '795501', '28'],
       [19, 2014.0, '440003', '01'],
       [22, 2017.0, '759787', '24'],
       [9, 2016.0, '641934', '30'],
       [5, 2014.0, '522360', '10'],
       [22, 2018.0, '437423', '07'],
       [1, 2017.0, '746711', '24'],
       [22, 2018.0, '641024', '02'],
       [19, 2018.0, '802100', '06'],
       [3, 2016.0, '485309', '18'],
       [19, 2014.0, '501314', '04'],
       [13, 2016.0, '623835', '14'],
       [21, 2014.0, '538807', '23'],
       [22, 2018.0, '129854', '17'],
       [8, 2014.0, '373874', '07'],
       [22, 2018.0, '825840', '04'],
       [4, 2014.0, '519512', '22'],
       [21, 2015.0, '589460', '11'],
       [9, 2016.0, '641933', '30'],
       [7, 2017.0, '706280', '03'],
       [21, 2014.0, '441784', '10'],
       [22, 2018.0, '806480', '28'],
       [7, 2014.0, '516960', '15'],
       [14, 2018.0, '764027', '16'],
       [19, 2016.0, '485933', '15'],
       [22, 2018.0, '827461', '10'],
       [22, 2018.0, '826167', '03'],
       [21, 2014.0, '534590', '24'],
       [4, 2016.0, '684184', '26'],
       [19, 2015.0, '215927', '05'],
       [5, 2015.0, '605838', '07'],
       [21, 2014.0, '212631', '19'],
       [22, 2018.0, '830070', '22'],
       [22, 2017.0, '099617', '07'],
       [21, 2015.0, '591284', '27'],
       [22, 2018.0, '716646', '21'],
       [23, 2016.0, '654025', '03'],
       [9, 2014.0, '496544', '02'],
       [21, 2014.0, '538546', '22'],
       [8, 2016.0, '634233', '23'],
       [5, 2016.0, '650712', '13'],
       [22, 2018.0, '827992', '12'],
       [5, 2016.0, '614475', '25'],
       [22, 2018.0, '790560', '30'],
       [21, 2015.0, '304584', '11'],
       [19, 2017.0, '756194', '23'],
       [9, 2014.0, '526061', '06'],
       [22, 2018.0, '804538', '18'],
       [5, 2014.0, '515989', '01'],
       [21, 2017.0, '693761', '11'],
       [20, 2014.0, '500034', '24'],
       [21, 2017.0, '711381', '16'],
       [22, 2017.0, '635494', '27'],
       [22, 2018.0, '783471', '24'],
       [22, 2018.0, '380314', '23'],
       [5, 2014.0, '531715', '08'],
       [21, 2016.0, '650652', '01']], dtype=object)

In [30]:
from sklearn.preprocessing import StandardScaler
standard_X=StandardScaler()

In [31]:
x_train=standard_X.fit_transform(x_train)
x_test=standard_X.fit_transform(x_test)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\anaconda\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [32]:
x_test

array([[-1.31847435, -0.69837963, -0.12858381,  0.67257084],
       [ 0.52738974,  1.25058678,  1.27214131, -1.37500213],
       [ 0.79108461, -1.3480351 , -0.46316807,  0.10380057],
       [-1.58216922, -0.04872416,  0.20935011,  1.69635733],
       [ 0.52738974, -0.04872416, -0.50700104,  0.55881679],
       [-0.79108461,  1.25058678,  1.04710428, -0.6924778 ],
       [ 0.52738974, -1.3480351 , -0.35539246, -1.48875618],
       [-1.31847435, -0.04872416,  0.1295802 , -0.91998591],
       [ 0.52738974,  0.60093131,  0.60607019, -1.37500213],
       [-1.45032179, -0.04872416,  0.33070033,  0.90007895],
       [-1.31847435, -1.3480351 , -0.36550595,  0.67257084],
       [ 0.79108461, -0.04872416,  0.15379627,  1.35509517],
       [-1.45032179, -0.69837963,  0.01825548, -1.14749402],
       [-1.31847435,  0.60093131, -2.37692434, -0.80623186],
       [ 0.92293205,  1.25058678,  0.91778176,  1.12758706],
       [ 0.92293205,  0.60093131, -0.70464246,  0.55881679],
       [ 1.18662692, -1.3480351 , -2.04028101, -0.12370753],
       [ 1.05477948,  1.25058678,  0.99214881, -0.46496969],
       [ 0.92293205,  0.60093131,  0.90954548, -0.00995348],
       [-1.31847435,  0.60093131,  0.68829808,  0.33130868],
       [-1.05477948, -0.69837963,  0.05694371, -0.6924778 ],
       [-1.18662692, -1.3480351 , -0.48028592,  0.7863249 ],
       [-0.79108461,  0.60093131,  0.68947134, -0.00995348],
       [-1.31847435,  1.25058678,  1.16890034,  1.46884922],
       [ 0.52738974, -1.3480351 , -0.91655658, -1.60251023],
       [ 0.92293205,  0.60093131,  0.9593914 ,  1.013833  ],
       [-0.79108461, -0.04872416,  0.26803068,  1.69635733],
       [-1.31847435, -1.3480351 , -0.43342594, -0.57872375],
       [ 0.92293205,  1.25058678, -0.93169163, -0.91998591],
       [-1.84586409,  0.60093131,  0.8826837 ,  1.013833  ],
       [ 0.92293205,  1.25058678,  0.26269235, -1.48875618],
       [ 0.52738974,  1.25058678,  1.20761204, -1.03373996],
       [-1.58216922, -0.04872416, -0.65077812,  0.33130868],
       [ 0.52738974, -1.3480351 , -0.55688803, -1.26124807],
       [-0.26369487, -0.04872416,  0.16185657, -0.12370753],
       [ 0.79108461, -1.3480351 , -0.33694295,  0.90007895],
       [ 0.92293205,  1.25058678, -2.73598279,  0.21755463],
       [-0.92293205, -1.3480351 , -1.30448895, -0.91998591],
       [ 0.92293205,  1.25058678,  1.34687793, -1.26124807],
       [-1.45032179, -1.3480351 , -0.45013316,  0.7863249 ],
       [ 0.79108461, -0.69837963, -0.0397974 , -0.46496969],
       [-0.79108461, -0.04872416,  0.26802481,  1.69635733],
       [-1.05477948,  0.60093131,  0.64550344, -1.37500213],
       [ 0.79108461, -1.3480351 , -0.90610871, -0.57872375],
       [ 0.92293205,  1.25058678,  1.23330642,  1.46884922],
       [-1.05477948, -1.3480351 , -0.46510395, -0.00995348],
       [-0.13184744,  1.25058678,  0.9842645 ,  0.10380057],
       [ 0.52738974, -0.04872416, -0.64711755, -0.00995348],
       [ 0.92293205,  1.25058678,  1.3563872 , -0.57872375],
       [ 0.92293205,  1.25058678,  1.34879621, -1.37500213],
       [ 0.79108461, -1.3480351 , -0.36168113,  1.013833  ],
       [-1.45032179, -0.04872416,  0.51588174,  1.24134111],
       [ 0.52738974, -0.69837963, -2.23105299, -1.14749402],
       [-1.31847435, -0.69837963,  0.05628082, -0.91998591],
       [ 0.79108461, -1.3480351 , -2.25038831,  0.44506274],
       [ 0.92293205,  1.25058678,  1.37169237,  0.7863249 ],
       [ 0.92293205,  0.60093131, -2.91336202, -0.91998591],
       [ 0.79108461, -0.69837963, -0.02909727,  1.35509517],
       [ 0.92293205,  1.25058678,  0.70631348,  0.67257084],
       [ 1.05477948, -0.04872416,  0.33896008, -1.37500213],
       [-0.79108461, -1.3480351 , -0.58487027, -1.48875618],
       [ 0.79108461, -1.3480351 , -0.33847406,  0.7863249 ],
       [-0.92293205, -0.04872416,  0.22285432,  0.90007895],
       [-1.31847435, -0.04872416,  0.31952504, -0.23746159],
       [ 0.92293205,  1.25058678,  1.35950221, -0.35121564],
       [-1.31847435, -0.04872416,  0.10694802,  1.12758706],
       [ 0.92293205,  1.25058678,  1.13991497,  1.69635733],
       [ 0.79108461, -0.69837963, -1.71096468, -0.46496969],
       [ 0.52738974,  0.60093131,  0.9383138 ,  0.90007895],
       [-0.79108461, -1.3480351 , -0.41171478, -1.03373996],
       [ 0.92293205,  1.25058678,  1.22191407,  0.33130868],
       [-1.31847435, -1.3480351 , -0.47080012, -1.60251023],
       [ 0.79108461,  0.60093131,  0.57206326, -0.46496969],
       [ 0.65923718, -1.3480351 , -0.56439689,  1.013833  ],
       [ 0.79108461,  0.60093131,  0.67542742,  0.10380057],
       [ 0.92293205,  0.60093131,  0.23025173,  1.35509517],
       [ 0.92293205,  1.25058678,  1.09832879,  1.013833  ],
       [ 0.92293205,  1.25058678, -1.26671   ,  0.90007895],
       [-1.31847435, -1.3480351 , -0.37854673, -0.80623186],
       [ 0.79108461, -0.04872416,  0.31917306, -1.60251023]])

In [40]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
knn.predict(x_test)

array([1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0], dtype=uint8)

In [41]:
knn.score(x_test,y_test)

0.8

In [47]:
from sklearn.model_selection import cross_val_score
import numpy as np
#create a new KNN model
knn_cv = KNeighborsClassifier(n_neighbors=5)
#train model with cv of 5 
cv_scores = cross_val_score(knn_cv, x, y, cv=7)
#print each cv score (accuracy) and average them
print(cv_scores)
print("cv_scores mean:{}".format(np.mean(cv_scores)))

[0.74137931 0.77586207 0.77192982 0.73684211 0.80357143 0.71428571
 0.78571429]
cv_scores mean:0.7613692482437621

In [1]:
from sklearn import svm 
SVM = svm.LinearSVC()  
SVM.fit(x, y) 
SVM.predict(x_test)
SVM.score(x_test,y_test)

NameError: name 'x' is not defined

In [63]:
svm = svm.LinearSVC()  
#train model with cv of 5 
cv_scores = cross_val_score(svm, x, y, cv=7)
#print each cv score (accuracy) and average them
print(cv_scores)
print("cv_scores mean:{}".format(np.mean(cv_scores)))

[0.77586207 0.77586207 0.77192982 0.77192982 0.19642857 0.78571429
 0.78571429]
cv_scores mean:0.6947772757015692

D:\anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
D:\anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
D:\anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
D:\anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
D:\anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
D:\anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
D:\anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [73]:
import sklearn as sk  
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)  
RF.fit(x, y)  
RF.predict(x_test)
RF.score(x_test,y_test)

0.15

In [76]:
randf =  RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)  
#train model with cv of 5 
cv_scores = cross_val_score(randf, x, y, cv=9)
#print each cv score (accuracy) and average them
print(cv_scores)
print("cv_scores mean:{}".format(np.mean(cv_scores)))

[1.         1.         0.8        0.95555556 1.         1.
 1.         1.         1.        ]
cv_scores mean:0.9728395061728397

In [96]:
import sklearn as sk  
from sklearn.neural_network import MLPClassifier

NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)  
NN.fit(x, y)  
NN.predict(x_test)
NN.score(x_test,y_test)

0.3125

In [99]:

NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)  
#train model with cv of 5 
cv_scores = cross_val_score(NN, x, y, cv=7)
#print each cv score (accuracy) and average them
print(cv_scores)
print("cv_scores mean:{}".format(np.mean(cv_scores)))

[0.77586207 0.77586207 0.77192982 0.77192982 0.78571429 0.78571429
 0.78571429]
cv_scores mean:0.7789609491709568